[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = ">=1.10.4"
click = ">=7.0"
invenio-app-rdm = {version = "<13.0.0", extras = ["opensearch2"]}
psycopg2 = "*"
opensearch-dsl = "*"
invenio-administration = "*"
invenio-communities = "*"
iso639 = "*"
invenio-remote-api-provisioner = {file = ".", editable = true}

[dev-packages]
check-manifest = "*"
docker-services-cli = "*"
pip-tools = "*"
pytest = "*"
pytest-invenio = "*"
pytest-runner = "*"
requests-mock = "*"

[requires]
python_version = "3.9"
